{% extends "inicio.html" %}

{% block titulo %}iniciar secion{% endblock %}

{% block contenido %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <h3 class="text-center">Recuperar cuenta.</h3>
                <p class="text-center">¿Perdiste la contraseña?</p>

                <form method="POST" action="/iniciar cesion">
                    <div class="row">
                        <div class="col mb-2">
                            <input type="email" class="form-control" placeholder="Correo" name="correo" required>
                        </div>

                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>